# Ignoriši log fajlove i privremene
*.log
*.bak
*.tmp

# Ignoriši vendor ako koristiš Composer
/vendor/
/backend/.env
.env
*.env
/backend/composer.phar
public/error_log
# Ignoriši IDE fajlove ako ih koristiš lokalno u backend
.vscode/
.idea/

# Ignoriši konfiguracione bekap fajlove
*.old
*.conf
