# Ignoriši log fajlove i privremene
*.log
*.bak
*.tmp

# Ignoriši vendor ako koristiš Composer
/vendor/
/backend/.env
/backend/composer.phar
/backend/public/error_log

# Ignoriši IDE fajlove ako ih koristiš lokalno u backend
.vscode/
.idea/

# Ignoriši konfiguracione bekap fajlove
*.old
*.conf
