@import './base.css';

#app {
  width: 100%;
  max-width: 1920px; 
  height: 100vh;
  padding: 0 !important;
}

.header {
  position: relative;
  width: 100%;  
  padding: 0 20px 20px 20px;
  display: flex;

}


@media (min-width: 1024px) {

}
